



.identity{
  padding: 0px 5px 5px 666px;
 color:  blue;
  
}


.logout{
  
  padding: 0px 5px 5px 873px;
  color: #4C2516;
  position: relative;
  top: -62px;
  
}

.notice
{ height: 1.25em; padding: 0.5em; text-align: center; background: #B6D491; color: #4C2516;}


.row-section{

    width:1100px;

}

body{
  
  background: url("/images/background.jpeg") no-repeat;
  background-size: 1278px 1357px;
  
}
.span2 {

    position: relative;
    right: -67%;
    top: -106px;
     width: 233px;
}

.span1 {

    position: relative;
    left: 140px;
    width: 257px;
    top: 93px;
}

.heading .text {
font-family: "Open Sans";
font-size: 13px;
color: #444;
font-weight: normal;
}



.header-row li{
font: 14px Verdana, Arial, Helvetica, sans-serif;
list-style-type: none;
display: inline;
padding: 5px 5px 5px 33px;
position: relative;
top: 30px;
left: 65%;
}
















.sign-in {
  padding: 6px 20px 5px 25px;
  border: 1px solid #666;
  color:#000;
  text-decoration:none;
  background-color: #499DF5;
  width: 206px;
height: 38px;
border-radius: 7px;
font-size: 16px;
}




.main-item{
    
    padding: 42px 5px 5px 174px;
}


h3 {
color: #499DF5;
font: icon;
font-size: 18px;
}


h1 {
  
  font: icon;
  font-size: 25px;
}



.items li{
    
   font: 15px Verdana, Arial, Helvetica, sans-serif;
   list-style-type: none;
   
    padding: 5px 5px 5px 5px;
    position: relative;
    top: -30px;
    
    
}


a:link {
  
  text-decoration: none;
}


.items img
{
    position: relative;
    top: 8px;
}




.middle-item{
    	font: 13px Verdana, Arial, Helvetica, sans-serif;

    position: relative;
    top: -314px;
    left: 471px;
}

table {
	font: 13px/39px Verdana, Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 630px;
        vertical-align: inherit;
	}



tr.yellow td {
	border-top: 1px solid #39B7CD;
	border-bottom: 1px solid #39B7CD;
	background: #ADEAEA;
        
	}

td {
	border-bottom: 1px solid #CCC;
	padding: 0 0.5em;
    
        
	}



td+td {
	border-left: 1px solid #CCC;
	text-align: left;
    
	}
        
        .bill-item{
            
            position: relative;
            top: 30px;
            left: 311px;
        }
        
        .bill {
	font: 13px/39px Verdana, Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 860px;
        vertical-align: inherit;
	}
        
        .checkbox {
            
            width: 30px;
            height: 30px;
        }

.login form {margin: 100px 250px;
}


#content {
padding-left: 100px;
padding-right: 100px;
}

.signin-table td,th {
  border: none;
  
}