

.identity{
  padding: 0px 5px 5px 666px;
 color:  #FFFFFF;
  
}


.logout li {
font: 14px Verdana, Arial, Helvetica, sans-serif;
color: #FFFFFF;
list-style-type: none;
display: inline;
padding: 5px 5px 5px 14px;
position: relative;
top: -76px;
left: 92%;
}

.logo-text{
  position: relative;
  top: -152px;
  left: 11.5%;
  font: 50px Verdana, Arial, Helvetica, sans-serif;
  color: #000000;
  
}

.p {
  
  position: relative;
  left: 20%;
  color: #000000;
  top: -41px;
}
.notice
{ height: 1.25em; padding: 0.5em; text-align: center; background: #B6D491; color: #4C2516;}


.row-section{

    width:1100px;
    

}





.span2 {

    position: relative;
    right: -15%;
    top: -25em;
     width: 470px;
}
.span5  {

    position: relative;
    left: 46em;
    width: 257px;
    top: -41em;
}

.span6 {

    position: relative;
    right: -56%;
    top: -75em;
     width: 233px;
}


.span3 {

    position: relative;
    right: -29%;
    top: 44px;
    
}






.span4 {

    position: relative;
    right: -54%;
    top: 16em;
     width: 233px;
}


.span7 {

    position: relative;
    right: -78%;
    top: -12em;
     width: 233px;
}



 



 .inner-pic2{
  
  position: relative;
    right: -52%;
    top: -253px;
     width: 233px;
}

.lapi-inside{
  
  position: relative;
    right: -36%;
    top: -394px;
     width: 184px;
     height: 137px;
     image-orientation: #DB70DB;     
}
.lapi-inside2{
  
  position: relative;
    right: 53%;
    top: -39px;
     width: 50px;
     height: 35px;
}

.lapi {
  
  position: relative;
    right: -36%;
    top: -227px;
     width: 185px;
     height: 204px;
}
.lapi2 {
  
  position: relative;
    right: 30%;
    top: -22px;
     width: 51px;
     height: 64px;
     
     
        
        background-color: #ddd;
        
}
     
     


.iphone {
  
  position: relative;
    right: -7%;
    top: -359px;
     width:228px;
     height: 289px;    
}

.iphone-inside{
  
  position: relative;
    right: -7%;
    top: -38em;
     width:228px;
     height: 214px; 
  
  
}

.span1 {

    position: relative;
    left: 19px;
    width: 257px;
    top: -18em;
}

.heading .text {
font-family: "Open Sans";
font-size: 13px;
color: #444;
font-weight: normal;
}



.header-row li{
font: 14px Verdana, Arial, Helvetica, sans-serif;
color: #FFFFFF;
list-style-type: none;
display: inline;
padding: 5px 5px 5px 33px;
position: relative;
top: 30px;
left: 67%;
}
















.sign-up {
  padding: 6px 20px 5px 25px;
  border: 1px solid #666;
  color:#000;
  text-decoration:none;
  background-color: #499DF5;
  width: 240px;
height: 46px;
border-radius: 7px;
font-size: 21px;
position: relative;
left: 130px;
}

.sign-in  a{
  
  position: relative;
  left: 9.5em;
  font-size: 21px;
  color: #FFFFFF;
  
}


.main-item{
    
    padding: 42px 5px 5px 174px;
}


h3 {
color: #499DF5;
font: icon;
font-size: 18px;
}


.heading {
  
  font: icon;
  font-size: 30px;
  color: #000000;
}



.headline {
  
  font: icon;
  font-size: 40px;
  color: #FFFFFF;
}





.items li{
    
   font: 15px Verdana, Arial, Helvetica, sans-serif;
   list-style-type: none;
   
    padding: 5px 5px 5px 5px;
    position: relative;
    top: -30px;
    color: #FFFFFF;    
    
}


a:link {
  
  text-decoration: none;
}


.items img
{
    position: relative;
    top: 8px;
}




.middle-item{
    	font: 13px Verdana, Arial, Helvetica, sans-serif;

    position: relative;
    top: -314px;
    left: 471px;
}

table {
	font: 13px/39px Verdana, Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 630px;
        vertical-align: inherit;
	}



tr.yellow td {
	border-top: 1px solid #39B7CD;
	border-bottom: 1px solid #39B7CD;
	background: #ADEAEA;
        
	}

td {
	border-bottom: 1px solid #CCC;
	padding: 0 0.5em;
    
        
	}



td+td {
	border-left: 1px solid #CCC;
	text-align: left;
    
	}
        
        .bill-item{
            
            position: relative;
            top: -330px;
            left: 396px;
        }
        
        .bill {
	font: 13px/39px Verdana, Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 860px;
        vertical-align: inherit;
	}
        
        .checkbox {
             width: 30px;
            height: 30px;
        }

 form {margin: 100px 250px;
}


#content {
padding-left: 53px;
padding-right: 100px;
}

.signin-table td,th {
  border: none;
  
}



.form-buttons {
text-align: center;
margin: 1em 0;
}

.new table td, th
{
  margin: 0 auto;
  border: none;

}
