

<div class="row-section">

<div class="span1">
<img src = "/images/postmail5.jpeg" />
</div>

<div class= "span2">
  <h1> Your postalmail, access online</h1>
  <p> <button class= "sign-in"><%= link_to("Sign up", :action  => 'login') %></button> </p>
  <p> &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;or <%= link_to("Sign in", :action => 'sign in' ) %></p>
</div>
</div>

<div class="row-section">

<div class="span1">
  <h1 class="heading"> Anywhere You are </h1>
    <p>
  <h3 class="text"> Put your letters in SoftPobox and get it from your computers,phones or tablets. </h3></p>
</div>
  
  <div class="span2">
   <img src= "/images/postmail4.jpeg" />
  </div>  
  
  
</div>

<div class="row-section">

<div class="span1">
  <img src= "/images/postmail6.jpeg" />
</div>
  
  <div class="span2">
    <h1 class="heading"> Safe and Privacy </h1>
    <p>
  <h3 class="text"> Softpobox secure your letters and maintain privacy. </h3></p>
  
  </div>  
  
  
</div>





 