
<div class="header-row">
  <ul>
    <li>About</li>
    <li>Help</li>
    <li>Pricing</li>
    <li>Terms & Privacy</li>
  </ul>
</div>

<div class="row-section">
  
 <div>
  <h1 class="logo-text"><img src="/images/logo_314979_web.png" width="80" height="80"/>Softpobox</h1> 
</div> 
  

<div class="span3">
<h1 class="heading"> Your postalmail Now online</h1>
  <p> <button class= "sign-up"> <%= link_to("Sign up", :action => 'signup') %></button> </p>
  <p class ="sign-in">or <%= link_to("Sign in", :action => 'signin', :color => "white" ) %></p>
</div>

<div class= "span4">
  <img src = "/images/ipad.png" width="550" height="450"/>
   

  <div class= "inner-pic">
        <img class = "lapi" src = "/images/laptop-inside.jpeg" width="880" height="370"/>

    <img class="lapi-inside" src = "/images/lapi-inside.jpeg" width="160"/>
  </div>
  
  


</div>

<div class="span7">
   <img src = "/images/iphone.png" width="550" height="450"/>
   
   <div class= "inner-pic2">
        <img class = "lapi2" src = "/images/laptop-inside.jpeg" />

    <img class="lapi-inside2" src = "/images/lapi-inside.jpeg" width="160"/>
  </div>

  </div>

<div class="row-section">
  
  
  
  <div class="span2">
    <h1 class="heading"> Anywhere You are </h1>
    <p>
  <h3 class="text"> Put your letters in SoftPobox and get it from your computers,phones or tablets. </h3></p>
   

   
  </div>  

<div class="span1">
  <img src= "/images/iphone-image.png" width="260" height="430"/>
   <div class= "inner-pic1">
     <img class = "iphone" src = "/images/laptop-inside.jpeg"/>
    <img class="iphone-inside" src = "/images/envelope.jpg" />
  </div>
</div>
  
  
  
  
</div>

<div class="row-section">

<div class="span5">
  <h1 class="heading"> Safe and Privacy </h1>
    <p>
  <h3 class="text"> Softpobox secure your letters and maintain privacy. </h3></p></div>
  
  <div class="span6">
      <img src= "/images/privacy1.png" width="300" height="260"/>

    
  
  </div>  
  
  
</div>





 