<div class="bill-item">
    <h2> Billing Papers</h2>
    
  <table class="bill">
    <tr class="yellow">
      <td>Name</td>
       <td>Kind</td>
      <td>Date</td>
    </tr>
    <% @userhomes.each do |userhome|  %> 
    <tr class="<%= cycle('odd', 'even') %> ">
      <td><%=userhome.name %></td>
      <td><%=userhome.kind %></td>
      <td></td>
      </tr>
      
  <% end %>
    
      

    
    
    
    
    
    

    
    
    
    
  </table>
  
  
    
  </div>
  