<% @page_title = "Delete Letter: #{@billing_paper.name}" -%>

<%= link_to("<< Back to Letters", {:action => 'bill'}, :class => 'back-link') %>

<div class="letter delete">
<h2> Delete Letter</h2>

<%= form_for(:billing_paper, :url => {:action => 'destroy', :id => @billing_paper.id}) do |l| %>

<p> Are you sure you want to delete this letter </p>
<p class="reference-name"><%= @billing_paper.name %> </p>
<div class="form-buttons">
<%= submit_tag("Delete Letter") %>
</div>
<% end %>
</div>




