<div class="bill-item">
    <h2> Junk Mails</h2>
    
  <table class="bill">
    <tr class="yellow">
      <td>Name</td>
       <td>Kind</td>
      <td>Date</td>
    </tr>
    
    <tr>
      <td></td>
      <td></td>
      <td></td>
      </tr>
    
      
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    
    
    
    <tr>
      <td></td>
      <td></td>
      <td>-</td>
    </tr>
    
    
    
    
    <tr>
      <td></td>
      <td></td>
      <td>-</td>
    </tr>
    
    
    <tr>
      <td></td>
      <td></td>
      <td>-</td>
    </tr>
    
    
    <tr>
      <td></td>
      <td></td>
      <td>-</td>
    </tr>
    
    <tr>
      <td></td>
      <td></td>
      <td>-</td>
    </tr>
    
    <tr>
      <td></td>
      <td></td>
      <td>-</td>
    </tr>
    
    
    
    
    
  </table>
  
  
    
  </div>
  